button:focus {
    outline:0;
}

select:focus {
    outline:0;
}

header {
    height: 20vh;
}

#title {
    float: left;

    margin-top: 3%;
    margin-left: 5%;

    color: white;
    font-size: 2rem;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
}

.slider-container {
    float: right;

    width: 7%;

    margin-top: 3%;
    margin-right: 1%;
}

.slider-title {
    width: fit-content;

    color: white;
}

#array-size {
    width: 100%;
}

#sort-speed {
    width: 100%;
}

#algo-select {
    float: right;

    margin-top: 3%;
    margin-right: 1%;

    border-radius: 500px;
    border-style: solid;
    border-width: 5px;
    border-color: white;

    background-color: transparent;

    color: #ffffff;
    font-size: 1em;

    padding: 0.5%;
}

option {
    color: black;
}

button {
    float: right;

    margin-top: 3%;
    margin-right: 1%;

    border-radius: 500px;
    border-style: solid;
    border-width: 5px;
    border-color: white;

    background-color: transparent;

    color: #ffffff;
    font-size: 1em;

    padding: 0.5%;

    cursor: pointer;
}
